<ion-header>
	<ion-toolbar>
		<ion-menu-button color="dark"></ion-menu-button>
		<ion-title>Menu</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="profilePicture">
		<ion-img src="../../../assets/images/profile/attractive-beautiful-beauty-1892511.png"></ion-img>
		<ion-text color="dark">
			<h3 *ngIf="dataCredit">
				{{dataCredit.user.name}} {{dataCredit.user.lastName}}

			</h3>
		</ion-text>
	</div>
	<!-- ↓↓  Grid start -->
	<ion-grid>
		<ion-row>
			<ion-col *ngIf="dataCredit">
				<ion-item>
					<ion-label color="success" position="floating">Valor credito</ion-label>
					<ion-input color="principal" [disabled]="true" value="$ {{dataCredit.creditValue}}"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<!-- ↓↓ Row ↓↓ -->
		<ion-row>
			<ion-col *ngIf="dataCredit">
				<ion-item>
					<ion-label color="success" position="floating">Cantidad de cuotas</ion-label>
					<ion-input color="principal" [disabled]="true" value=" {{dataCredit.monthlyPayment}} "></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col *ngIf="dataCredit">
				<ion-item>
					<ion-label color="success" position="floating">Destino del credito</ion-label>
					<ion-input [disabled]="true" value="{{dataCredit.reasonCredit}}"></ion-input>
					<!-- <ion-icon (click)="presentAlert( 1, '$300.000')" color="medium" name="information-circle-outline"></ion-icon> -->
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>

	<div *ngIf="dataCredit">
		<div class="ion-padding" *ngIf="userAdmin && !dataCredit.creditState">
		   <div class="boxItems">
			   <ion-button *ngIf="dataCredit" color="primary" expand="block" (click)="activateCredit()">Prestar a {{dataCredit.user.name}}</ion-button>
		   </div>
	   </div>
	</div>


</ion-content>