<ion-header>
	<ion-toolbar>
		<ion-menu-button color="dark"></ion-menu-button>
		<ion-title>Menu</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<h1>
			Solicita tu crédito
		</h1>
	</div>
	<form [formGroup]="formStep1" action="" class="slide__content ion-padding">
		<div class="boxItems">
			<!-- New Input -->
			<ion-item>
				<ion-label>Cuanto dinero necesitas?</ion-label>
				<ion-select formControlName="cuantoNecesitas" cancelText="Cancelar">
					<ion-select-option value="50000">$50.000</ion-select-option>
					<ion-select-option value="100000">$100.000</ion-select-option>
					<ion-select-option value="200000">$200.000</ion-select-option>
					<ion-select-option value="300000">$300.000</ion-select-option>
					<ion-select-option value="400000">$400.000</ion-select-option>
					<ion-select-option value="500000">$500.000</ion-select-option>
				</ion-select>
			</ion-item>
			<!-- New Input -->
			<ion-item>
				<ion-label>En cuantos meses deseas pagar?</ion-label>
				<ion-select formControlName="cuantosMeses" cancelText="Cancelar">
					<ion-select-option value="1">1</ion-select-option>
					<ion-select-option value="2">2</ion-select-option>
					<ion-select-option value="3">3</ion-select-option>
					<ion-select-option value="4">4</ion-select-option>
					<ion-select-option value="5">5</ion-select-option>
					<ion-select-option value="6">6</ion-select-option>
				</ion-select>
			</ion-item>
			<!-- New Input -->
			<ion-item>
				<ion-input minlength="5" formControlName="requiredInput" placeholder="Para que no necesitas?"></ion-input>
			</ion-item>
			<!-- <p *ngIf="formStep1.controls.requiredInput.errors" class="requiredText">Required</p> -->
		</div>
		<div class="boxItems">
			<ion-button [disabled]="formStep1.status == 'INVALID' " color="primary" expand="block" (click)="nextIonSlide();">Continuar</ion-button>
		</div>
	</form>

</ion-content>
