.slide__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: space-between;
}

.boxItems{
    width: 100%;
    margin-bottom: 20px;
    ion-item{
        margin-bottom: 10px;
        ion-icon{
            color: gray;
        }
    }
    ion-button{
        margin-bottom: 10px;
        --border-radius: 0px;
    }
}

ion-item{
    --background: #fff;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-bottom: 5px;
}

ion-content{
    --ion-background-color:#ECECEC;
}

ion-slides {
    --bullet-background: #fff;
    --bullet-background-active: #E5A506;
    padding-top: 40px;
}
ion-grid{
    padding-left: 0;
    padding-right: 0;
}

// ↓↓ shadow DOOM
::ng-deep {
    .swiper-pagination.swiper-pagination-bullets{
        top: 0;
        bottom: auto;
        position: absolute;
    }
    .swiper-pagination-bullet {
        counter-increment: bulletCounter;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 39px;
        height: 39px;
        opacity: 1;
        font-weight: 500;
        &::after{
            content: counter(bulletCounter);
        }
        &-active{
            color: #fff;
        }
    }
}