<ion-header>
	<ion-toolbar>
		<ion-menu-button color="dark"></ion-menu-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="profilePicture">
		<ion-img src="../../../assets/images/profile/attractive-beautiful-beauty-1892511.png"></ion-img>
		<ion-text color="dark" >
			<h5 *ngIf="currentUser">
				<!-- {{ currentUser.User.name }} -->
				{{ currentUser.name }} {{ currentUser.lastName }}
			</h5>
		</ion-text>
	</div>
	<div class="ion-padding">
		<ion-item *ngIf="currentUser">
			<ion-label color="dark" position="floating">Nombres</ion-label>
			<ion-input value="{{ currentUser.name }} {{ currentUser.lastNameTwo }}"></ion-input>
		</ion-item>
		<ion-item *ngIf="currentUser">
			<ion-label color="dark" position="floating">Apellidos</ion-label>
			<ion-input value="{{ currentUser.lastName }} {{ currentUser.lastNameTwo }}"></ion-input>
		</ion-item>
		<ion-item *ngIf="currentUser">
			<ion-label color="dark" position="floating">Dirección</ion-label>
			<ion-input [disabled]="true" value="{{currentUser.addresses[0].address}}"></ion-input>
		</ion-item>
		<ion-item *ngIf="currentUser">
			<ion-label color="dark" position="floating">Detalle Dirección</ion-label>
			<ion-input [disabled]="true" value="{{currentUser.addresses[0].addressDetail1}} {{currentUser.addresses[0].addressDetail2}}"></ion-input>
		</ion-item>
		<ion-item *ngIf="currentUser">
			<ion-label color="dark" position="floating">Pais</ion-label>
			<ion-input [disabled]="true" value="{{currentUser.addresses[0].country}}"></ion-input>
		</ion-item>
		<ion-item *ngIf="currentUser">
			<ion-label color="dark" position="floating">Ciudad</ion-label>
			<ion-input [disabled]="true" value="{{currentUser.addresses[0].city}}"></ion-input>
		</ion-item>
		<!-- ↓↓  -->
		<div>
			<ion-text color="dark">
				<h4>Historial de créditos solicitados</h4>
			</ion-text>
		</div>
		<div *ngIf="currentUser">
			<ion-item *ngFor="let request of currentUser.creditRequestses;">
				<ion-label color='{{ request.creditState ?  "success" : "warning"}}' position="floating">
					{{ request.creditState ?  "Aprobado" : "Pendiente"}}
				</ion-label>
				<ion-input [disabled]="true" value="$ {{request.creditValue}}"></ion-input>
				<ion-icon (click)="presentAlert( request.creditState ?  1 : 0 , 'request.creditValue')" color="medium" name="information-circle-outline"></ion-icon>
			</ion-item>
		</div>
	</div>
</ion-content>
