<ion-header>
	<ion-toolbar>
		<ion-menu-button color="dark"></ion-menu-button>
		<ion-title>Menu</ion-title>
	</ion-toolbar>
</ion-header>

	
<ion-content>
	<div class="ion-padding">
		<div>
			<ion-text color="dark">
				<h4>Solicitudes disponibles</h4>
			</ion-text>
		</div>
		<ion-item *ngFor="let credit of dataCredits">
			<ion-label color="dark" position="floating">
				{{credit.user.name}} {{credit.user.lastName}}
			</ion-label>
			<ion-input color="primary" [disabled]="true" value="$ {{credit.creditValue}}"></ion-input>
			<ion-icon (click)="seeDetaill('1')" color="secondary" name="arrow-dropright-circle"></ion-icon>
		</ion-item>
	</div>
</ion-content>