<!-- <ion-header>
	<ion-toolbar>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-toolbar>
</ion-header> -->

<ion-content>
	<article class="homeContainer">
		<!-- <div class="homeContainer__banner">
			<ion-img src="../assets/images/home/bg_home.jpg"></ion-img>
			<article class="homeContainer__title">
				Prestamos dinero entre personas para juntos cumplir nuestros sueños
			</article>
		</div> -->
		<div class="homeImage">
			<ion-img src="../assets/images/logo/logo.jpg"></ion-img>
		</div>
		<div class="ion-padding homeContainer__content">
			<div class="boxItems">
				<ion-item>
					<ion-input placeholder="Usuario">
						<ion-icon size="large" name="person"></ion-icon>
					</ion-input>
				</ion-item>
				<ion-item>
					<ion-input placeholder="Contraseña">
						<ion-icon size="large" name="unlock"></ion-icon>
					</ion-input>
				</ion-item>
			</div>
			<div class="boxItems">
				<ion-button color="primary" expand="block">Iniciar sesion</ion-button>
				<ion-button color="secondary" expand="block">Regístrate aquí</ion-button>
			</div>
		</div>
	</article>
</ion-content>
