<!-- <ion-header>
	<ion-toolbar>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-toolbar>
</ion-header> -->

<ion-content>
	<article class="homeContainer">
		<div class="homeContainer__banner">
			<ion-img src="../assets/images/home/bg_home.jpg"></ion-img>
			<article class="homeContainer__title">
				Prestamos dinero entre personas para juntos cumplir nuestros sueños
			</article>
		</div>
		<div class="ion-padding homeContainer__content">
			The world is your oyster.
			<p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
		</div>
	</article>
</ion-content>
