
.homeContainer{
    display: flex;
    height: 100vh;
    color: #fff;
    flex-direction: column;
    background-color: #1B2D36;
    &__banner{
        position: relative;
    }
    &__content{
        // background-color: #1B2D36;
    }
    &__title{
        left: 20px;
        bottom: 20px;
        font-size: 20px;
        font-weight: 500;
        position: absolute;
    }
};

::ng-deep {
    .boxItems{
        margin-bottom: 20px;
        ion-item{
            margin-bottom: 10px;
            ion-icon{
                color: gray;
            }
        }
        ion-button{
            margin-bottom: 10px;
            --border-radius: 0px;
        }
    }
    
    // ion-alert{
    //     --width:350px !important; 
    //     --height:280px !important;
        
    // };
    // .alert-head{
    //     height: 50%;
    //     text-align: left;
    //     padding-top: 80px !important; 
    //     background-position: center;
    //     background-size: cover;
    //     background-image: url("../../../assets/images/jc-gellidon-565177-unsplash.jpg");
    // }
    // .alert-title.sc-ion-alert-md {
    //     color: #fff;
    // }
    // .alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md {
    //     padding-bottom: 0px;
    //     padding-top: 20px;
    // }
}
